:root{
	--text-color: #f0f4f5;
	--background-color: #263343;
	--accent-color: #d49466;
}

body{
	margin:0;
}

a{
	text-decoration: none;
	color: var(--text-color);
}
.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--background-color);
	padding:8px 12px;
}

.navbar__logo{
	font-size:24px;
	color:var(--text-color);
	display: flex;
	flex-wrap: nowrap;
}

.navbar__logo i{
	color: var(--accent-color)
}

.navbar__menu{
	display: flex;
	list-style:none;
	padding-left:0;
}

.navbar__menu li{
	padding:8px 12px;
	border-radius: 4px;
}

.navbar__menu li:hover{
	background-color: var(--accent-color);
}

.navbar__icons{
	list-style: none;
	color: var(--text-color);
	display: flex;
}

.navbar__icons li{
	padding: 8px 12px;
}

.navbar__toogleBtn{
	display:none;
}



@media screen and (max-width: 768px){
	.navbar__toogleBtn{
		position: absolute;
		right: 32px;
		font-size: 24px;
		color: var(--accent-color);
		display:block;
	}
	.navbar{
		flex-direction: column	;
		align-items: flex-start;
		padding: 8px 24px;
	}
	.navbar__menu{
		display: none;
		flex-direction: column;
		align-items: center;
		width:100%;
	} 
	.navbar__menu li{
		width:100%;
		text-align: center;
	}
	.navbar__icons{
		display: none;
		padding-left: 0;
		justify-content: center;
		width:100%;
	}

	.navbar__menu.active,
	.navbar__icons.active{
		display: flex;
	}

	.content{
		background-color: beige;
		display: flex;
		flex-flow: column wrap;
		justify-content: space-between;
		align-items: stretch;
	}

	.video__player{
		color:white;
		background-color:black;
	}

	.video__content_box{
		padding: 8px 13px;
	}

	.video__meta_data{
		padding: 5px 10px 5px 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid;
	}

	.meta__title{
		padding-top: 5px;
		padding-bottom: 8px;
	}

	.meta__info{
		display: flex;
		flex-flow: row nowrap;
		font-size:14px;
		height: 30px;
		justify-content: space-between;
	}	
	
	.meta__indicator{
		display:flex;
		flex-wrap: nowrap;
	}

	.meta__date{
		padding-left:5px;
	}

	.meta__icon{
		margin-top: 7px;
		padding-right: 5px;
	}
	
	.meta__icon>i{
		padding-left: 20px;
	}





	.channel__info_box{
		padding: 8px 15px;
		background-color: coral;
	}

	.channel__info_header{
		display: flex;
	}

	.fa-user-circle{
		font-size:45px;
		margin-top:5px;
	}

	.channel__meta_info{
		display: flex;
		width: 100%;
		justify-content: space-between;
	}


	.channel__info_header_title{
		margin-right:30px;
		margin-left:15px;
	}

	.channel__btn_box{
		display: flex;
	}

	.channel__subscribe_btn{
		background-color: rgba(0,0,0,0.1);
		text-align: center;
		height: 35px;
		margin-right:7px;
	}

	.fa-bell{
		font-size:30px;
	}

	.channel__info_content{
		margin-left:70px;
	}

	.video__playlist{
		padding: 8px 13px;
		background-color:blueviolet;
	}

}